[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "tidyextreme"]
	path = tidyextreme
	url = https://github.com/mauritia-flexuosa/tidyextreme
